* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 1.8;
	font-weight: 300;
	color: #868E96;
	text-rendering: optimizeLegibility; 
	position: relative;
}

.letter-spacing-2 {
	letter-spacing: .2em;
}

/************ BUTTONS SECTION ************/

.btn-primary {
	color: #FFFFFF;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, .5);
	font-size: .85rem;
}

.btn-primary:hover, .btn-primary:active {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.btn-secondary {
	color: #495057;
	background-color: #FFF;
	border: 1px solid #E9ECEF;
	margin: 0 10px;
	font-size: .85rem;
}

.btn-secondary:hover, .btn-secondary:active {
	color: #E27396;
	border: 1px solid #E27396;
}

.btn-contact {
	border: 1px solid rgba(0, 0, 0, .2);
	font-size: 0.85rem!important;
}

.btn-contact:hover, .btn-contact:active {
	border: 1px solid #E27396;
	background-color: #E27396;
	color: #FFF;
}

.btn-pink {
	background-color: #E27396;
	color: #fff;
	border-radius: 0;
	padding: 8px 16px;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.btn-pink:hover {
	background-color: #EA9AB2;
	color: #fff;
}

/************ NAVIGATION SECTION ************/

.navbar {
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 16px;
	padding-left: 16px;
}

nav ul li a.nav-link {
	padding: 20px 16px;
	color: #212529;
}

a.navbar-brand {
	font-family: "Corinthia";
	font-size: 4rem;
	padding: 0 32px;
	color: #E27396;
	display: block;
	margin-top: -20px;
	margin-right: 0;
	margin-bottom: -20px;
}

nav ul li a.active {
	color: #E27396;
}

@media screen and (max-width: 992px) {
	.navbar-toggler {
		font-size: 2rem;
		color: #212529;
	}

	.navbar-collapse {
		position: absolute;
		top: 60px;
		left: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		width: 100%;
		height: 100vh;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
		display: block;
		background-color: #fff;
		z-index:1000;
	}

	.navbar-collapse.collapsing {
		height: 100vh !important;
		margin-left: 50%;
		left: 50%;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	
	.navbar-collapse.show {
		left: 0;
	}

	.navbar-collapse .navbar-nav {
		text-align: center;
		margin-top: 30px;
	}
}

/************ HEADER SECTION ************/

#header-banner {
	background-image: -webkit-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/header-banner.jpg") ;
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/header-banner.jpg") ;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: calc(90vh);
	position: relative;
	top: 0;
	left: 0;
}

.header-banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	min-width: 100%;
	margin-top: 30px;
}

.header-banner-text h2 {
	font-size: 3.5rem;
	font-weight: 300!important;
}

.header-banner-text .sub-heading {
	max-width: 70%;
	margin: 0 auto;
	font-size: 1.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

/************ SITE SECTION ************/

.site_section {
	padding: 8em 0;
	position: relative;
	display: block;
}

.section-heading {
	font-family: "Corinthia";
	font-size: 5rem;
}

.section-heading-rotate {
	-webkit-transform: rotate(-10deg);
			transform: rotate(-10deg);
}

/************ ABOUT SECTION ************/

.chef-img {
	height: 300px;
	width: auto;
	margin: -60px auto 0 calc(49%);
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
	z-index: -100;
}

.about-box {
	min-height: 400px;
	width: 90%;
	margin: -50px auto 0 auto;
	padding: 80px 25px 30px;
}

.about-box-text {
	margin-right: 30px;
	position: relative;
}

#about-section .btn-pink {
	position: absolute;
	bottom: -90px;
}

/************ MENU SECTION ************/

#menu-section {
	margin-left: 5px;
	margin-right: 5px;
}

#menu-section .section-heading {
	background-color: #fff;
	display: inline-block;
	margin-top: -70px;
	padding-left: 30px;
	padding-right: 30px;
}

.menu-section-border {
	border: 5px dashed #EA9AB2;
}

.menu-nav {
	margin-bottom: 70px;
}

.menu-nav li {
	margin-bottom: 20px;
}

.menu-nav li a {
	color: #495057;
	border: 1px solid #E9ECEF;
	margin: 0 10px;
	font-size: .85rem;
}

.menu-nav li a.active {
	color: #000;
	border: 1px solid #000;
}

.nav-link:focus, .nav-link:hover {
	text-decoration: none;
	color: #495057;
}

.our-menu {
	padding-left: 0;
	list-style: none;
}

.our-menu li {
	margin-bottom: 30px;
}

.our-menu li h3.menu-heading {
	color: #212529;
	font-size: 1.125rem;
	font-weight: 300;
}
.our-menu li p {
	font-size: 1rem;
	font-weight: 300;
}

.our-menu li .price-col {
	max-width: 20%;
}

/************ PAGE MIDDLE BANNER SECTION ************/

#page-middle-banner {
	background-image: -webkit-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/middle-banner.jpg") ;
	background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/middle-banner.jpg") ;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: calc(45vh);
	position: relative;
}

#page-middle-banner .header-banner-text {
	margin-top: 0;
}

/************ GALLERY SECTION ************/

.gallery-menu {
	text-align:center;
}

.gallery-menu ul li {
	color: #495057;
	border: 1px solid #E9ECEF;
	font-size: .85rem;
	text-decoration: none;
	display:inline-block;
	list-style:none;
	cursor:pointer;
}

.gallery-menu ul li.active {
	color: #000;
	border: 1px solid #000;
}

.gallery-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 200px 200px;
	grid-gap:10px;
}

.gallery-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery-item .image {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item .image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: 50% 50%;
	   object-position: 50% 50%;
	cursor: pointer;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
	-webkit-transform: scale(1.3);
			transform: scale(1.3);
	-webkit-filter: blur(2.5px);
			filter: blur(2.5px);
}

.gallery-item .zoom-icon {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	color: #fff;
	font-size: 2rem;
	z-index: 4;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.gallery-item:hover .zoom-icon {
	opacity: 1;
}

.c-2 {
	-ms-grid-column: span 2;
		grid-column: span 2;
}

.r-2 {
	-ms-grid-row: span 2;
		grid-row: span 2;
}

/************ TESTIMONIAL SECTION ************/

#testimonials-section {
	background-color:rgba(165, 233, 219, .3);
}

.testimonial_quote {
	position: relative;
	margin-top: 40px;
}

.testimonial_quote .quote {
	font-family: "Crimson Pro", Georgia, serif;
	font-size: 6.25rem;
	line-height: 0;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

.testimonial_quote blockquote {
	font-family: "Crimson Pro", Georgia, serif;
	font-size: 1.25rem;
	line-height: 1.7;
	color: #495057;
}

.testimonial_quote img {
	height: 80px;
}

.testimonial_quote .heading {
	color: #495057;
	font-size: 1.25rem;
	font-weight: 300;
}

#testimonials-section {
	padding-left: 20px;
	padding-right: 20px;
}

#carouselTestimonials {
	position: relative;
	border: 2px solid #fff;
	padding: 20px 50px;
}

.carousel-control-next, .carousel-control-prev {
	opacity: 1;
}

.carousel-control-prev span.bi, .carousel-control-next span.bi {
	color: #E27396;
	background-color: #fff;
	padding: 0 10px;
	font-size: 2rem;
	position: absolute;
}

.carousel-control-prev span.bi {
	left: -20px;
}

.carousel-control-next span.bi {
	right: -20px;
} 

/************ EVENTS SECTION ************/

#events-section .card {
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 0.25rem;
}

#events-section img {
	width: 100%;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

#events-section .card-body {
	padding: 40px!important;
}

#events-section small.event-date {
	font-weight: 700;
	color: rgba(0, 0, 0, .3);
	font-size: 0.8rem;
}

#events-section h4.card-title a{
	margin-bottom: 0.75rem;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.5rem;
	color: #E27396;
}

/************ CONTACT SECTION ************/

#map {
	height: 300px;
}

/************ FOOTER SECTION ************/

footer.site_section {
	padding: 5em 0;
}

footer ul li a {
	color: #000;
	padding: 0.5rem!important;
	font-size: 1.25rem;
}

footer a {
	color: #000;
	text-decoration: none;
}

footer ul li a:hover, 
footer a:hover {
	color: #E27396;
}
